<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">]
        <link rel="icon" href="/img/weather.png">
        <title>About Me</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrait" src="img/IMG20190519083905.jpg">
        </div>
        {{>footer}}
    </body>
    
</html>
