<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="/img/weather.png">
       
        <title>Weather</title>
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>Use this website to get Weather!!!!!</p>
             <form>
                 <input type="text" placeholder="Enter the Location!!">
                 <button>Search</button>
             </form>
             
        </div>
            <p id="messageOne"></p>
            <p id="messageTwo"></p>
        {{>footer}}
        <script src="js/app.js"></script>
    </body>
</html>
